.Select {
    margin-bottom: 8px;
}

.Select label {
    margin-bottom: 7px;
    padding: 0;
    display: block;
}

.Select select {
    padding: 10px 20px;
    width: 100%;
    transition: all .3s ease-in;
    margin-bottom: 15px;
    border-radius: 6px;
    outline: none;
}