.QuizeCreator {
    display: flex;
    justify-content: center;
    padding: 20px 20px 30px;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 4px;
    background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}

.QuizeCreator > div {
    /*width: 400px;*/
}

.QuizeCreator input {
    display: block;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    transition: all .3s ease-in;
    margin-bottom: 8px;
}

.QuizeCreator select {
    padding: 10px 20px;
    width: 100%;
    transition: all .3s ease-in;
    margin-bottom: 15px;
    border-radius: 6px;
}