.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    
}

.Layout main {
    display: flex;
    flex-direction: column;
    color: #fff;
    /*min-width: 550px;*/
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.Layout * {
    box-sizing: border-box;
}



.Layout main > div {
    height: 100vh;
    justify-content: center;
    align-items: center;
}